
.ipynb_checkpoints/Visualizing data with Python - NICAR16-checkpoint.ipynb

.ipynb_checkpoints/matplotlib tutorial-checkpoint.ipynb

matplotlib tutorial.ipynb

.ipynb_checkpoints/Web scraping with BeautifulSoup-checkpoint.ipynb
