
.ipynb_checkpoints/Visualizing data with Python - NICAR16-checkpoint.ipynb

.ipynb_checkpoints/matplotlib tutorial-checkpoint.ipynb

matplotlib tutorial.ipynb

.ipynb_checkpoints/Web scraping with BeautifulSoup-checkpoint.ipynb

.ipynb_checkpoints/NICAR16 class notebook-checkpoint.ipynb

NICAR16 class notebook.ipynb
